
.nav-item {
  padding: 10px 20px;
  transition: color 0.3s;
}

.nav-item:hover {
  background-color:rgba(97, 84, 243, 0.675);
}

.tog {
  font-size: 2.5vh;
  background-color: transparent !important;
  color: white;
}

.cart-trolley--link {
  display: flex;
  align-items: center;
}

.cart-trolley--link .cart-trolley {
  margin-right: 5px;
}

.ii {
  border-radius: 0;
}






.ss{
  background-color:rgba(97, 84, 243, 0.675);
}
.logo2{
  height: 13vh;
  width: 18vh;

}
.ii{
  width: 35vh;
}
.cart-trolley--link {
  position: relative;

  .cart-trolley {
    color: white;
    position: relative;
    font-size: 3.2rem;
  }

  .cart-total--item {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    background-color: #000;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    background-color:white;
  }
}

  @media only screen and (max-width:768px){
    .transparent-navbar {
      background-color:rgba(97, 84, 243, 0.675);
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    
    .ii{
      width: 20vh;
      
    }
    .logo2{
      height: 8vh;
      width: 13vh;
    
    }
    .tog{
      height: 5vh;
      width: 5vh;
    }

    .cart-total--item {
      width: 3.4rem;
      height: 3.4rem;
      position: absolute;
      background-color: #000;
      color: #000;
      border-radius: 50%;
      display: grid;
      place-items: center;
      top: -34%;
      left: 5%;
      background-color: white;
  }
    }
  
  