.ss{
  background-color:rgba(97, 84, 243, 0.675);
}
.logo2{
  height: 13vh;
  width: 18vh;

}
.ii{
  width: 35vh;
}
.cart-trolley--link {
  position: relative;

  .cart-trolley {
    color: white;
    position: relative;
    font-size: 3.2rem;
  }

  .cart-total--item {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    background-color: #000;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    background-color:white;
  }
}
.cart-total--item {
  width: 4.4rem;
  height: 3.4rem;
    position: absolute;
    background-color
    :wheat;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: 32px;
    right: 17px;
    /* background-color: ${({ theme }) => theme.colors.helper}; */
  }
  @media only screen and (max-width:768px){
    .ii{
      width: 20vh;
      
    }
    .logo2{
      height: 8vh;
      width: 13vh;
    
    }
    .tog{
      height: 5vh;
      width: 5vh;
    }
  }