.serchbox{
  
  display: none;
 }
.nav-item {
  padding: 10px 20px;
  transition: color 0.3s;
}

.nav-item:hover {
  background-color:rgba(97, 84, 243, 0.675);
}

.tog {
  font-size: 2.5vh;
  background-color: transparent !important;
  color: white;
}

.cart-trolley--link {
  display: flex;
  align-items: center;
}

.cart-trolley--link .cart-trolley {
  margin-right: 20px;
}








.ss{
  background-color:rgba(97, 84, 243, 0.675);
}
.logo2{
  height: 13vh;
  width: 18vh;

}
.ii{
  width: 35vh;
}
.cart-trolley--link {
  position: relative;

  .cart-trolley {
    color: white;
    position: relative;
    font-size: 3.2rem;
  }

  .cart-total--item {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    background-color: #000;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -41%;
    left: 44%;
    background-color:white;
  }
}
.login{
  margin-right: 2vh;
}
.searchbtn{
  margin-right: 2vh;
}

  @media only screen and (max-width:768px){
    .ss{
      width: 50%;
      background-color:rgba(97, 84, 243, 0.675);
    }
    .login{
      margin-left: 2vh;
    }
    .serchbox{
  
      display:block;
     }
    .nav-mobile{
      margin-left: 2vh;

    } 
    .transparent-navbar {
      background-color:rgba(97, 84, 243, 0.675);
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    
    .ii{
      width: 20vh;
      
    }
    .logo2{
      height: 8vh;
      width: 13vh;
    
    }
    .tog{
      height: 5vh;
      width: 6vh;
    }

    .cart-trolley--link {
      position: relative;
    
      .cart-trolley {
        margin: 2vh;
        color: white;
        position: relative;
        font-size: 3.2rem;
      }
    
      .cart-total--item {
        width: 3.4rem;
        height: 3.4rem;
        position: absolute;
        background-color: #000;
        color: #000;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: 7%;
        left:11%;
        background-color:white;
      }
    }
  .searchbtn{
    display: none;
  }
    }
  
  